*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', lobster, open-sans;
    font-size: 20px;
}

body{
    /* background: linear-gradient(to right, rgb(241, 14, 6) , rgb(55, 2, 243)); */
    background-color: rgb(0, 0, 0);
}

/* ---------header--------- */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: white;
}

nav img{
    height: 30px;
    width: 30px;    
}

nav li{
    padding: 0px 10px;
    display: inline-flex;
    list-style-type: none;
}

header h6{
  font-size: 2rem;
  text-shadow: 2px 2px 4px #35333365;
}

/* <------------nav hover--------------> */
.nav {
    position: fixed;
    z-index: 5;
    /* left: -20em; */
    display: flex;
    height: 100%;
    padding-left: 0rem;
    padding-right: 0rem;
    font-family: "Proza Libre", serif;
    font-size: 18px;
    line-height: 2.2;
    font-weight: bold;
    color: #142033;
    transition: left 200ms ease 500ms;
    background-color: white;
  
  }
  
  .nav:hover {
    left: 0;
  }
  
  .nav .hover-content {
  }
  
  .nav h2 {
    font-family: "Cormorant Garamond", serif;
    font-size: 2.2em;
    font-weight: bold;
    color: black;
  }
  
  .nav h3 {
    padding-bottom: 1.1em;
  }
  
  .nav ol {
    list-style: upper-roman outside;
  }
  
  .nav a {
    text-decoration: none;
    color: inherit;
    transition: color 100ms ease-in 100ms;
  
  }
  
  .nav a:hover,
  .nav a.active {
    color: red;
  }

  .about-me{
    margin: 0%;
    height: 350px; 
  }

  .nav p{
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 300px;
    padding-bottom: 500px;
    font-size: 1.5rem;
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }

/* -----------main------------- */
main{
    text-align: center;
    padding-top: 5%;
}

main h1{
    font-family: 'open sans';
}

main img{
  margin: 6% auto;
}

h4 {
    border-right: solid 3px rgba(0,255,0,.75);
    white-space: nowrap;
    overflow: hidden;     
    font-size: 28px;
    font-family: 'open Sans One';
    color: rgba(250, 4, 4, 0.836);
    margin: 0 auto;
  }
  
  /* Animation */
  h4{
    animation: animated-text 5s steps(29, end) 1s 1 normal both,
               animated-cursor 500ms steps(10, end) infinite;
  }
  
  /* text animation */
  
  @keyframes animated-text{
    from{width: 0;}
    to{width: 45%;}
  }
  
  /* cursor animations */
  
  @keyframes animated-cursor{
    from{border-right-color: rgba(252, 6, 6, 0.75);}
    to{border-right-color: transparent;}
  }

@media only screen and (max-width: 960px){
    
}

@media only screen and (max-width: 700px){
    
}

@media only screen and (max-width: 500px){
  header h6{
    font-family: 'black ops one';
    font-size: 1.5rem;
    text-shadow: 2px 2px 4px #35333365;
  }

  main{
    margin: 0 auto;
  }

  main img{
    margin-top: 50%;
    width: 100%;
  }

  h4{
    display: none;
  }

  .nav{
    display: none;
  }

}